/*  -------------Variable Definitions--------------  */
:root {
    --debug-border: 1px solid black; /* Change pixel value to see borders for debugging */
}
  
* {
    box-sizing: border-box;
}
  
body {
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 12px;
      margin-left: 10px;
}

.api-table {
    border: var(--debug-border);
    padding: 2px;
}

.description-cell {
    border: var(--debug-border);
    width: 15%;
    padding: 2px;
    text-wrap: wrap;
}

.url-cell {
    border: var(--debug-border);
    width: 15%;
    padding: 2px;
    text-wrap: wrap;
}

.http-method-cell {
    border: var(--debug-border);
    width: 8%;
    padding: 2px;
}

.req-params-cell {
    border: var(--debug-border);
    width: 15%;
    padding: 2px;
}

.req-body-cell {
    border: var(--debug-border);
    width: 20%;
    padding: 2px;
}

.res-body-cell {
    border: var(--debug-border);
    width: 25%;
    padding: 2px;
}

.center-cell {
    text-align: center;
}

.heading-cell {
    font-weight:bold;
    background-color: #d3d3d3;
}